@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
body {
    font-family: 'Roboto Slab', serif !important;
}
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif !important;
}
.asRange, .asRange-scale {
    position: relative;
    height: 8px;
    background-color: #cfcdc7;
    border-radius: 8px
}
.asRange {
    margin: 45px auto;
    display: inline-flex;
    width: 50%
}
.asRange .asRange-pointer, .asRange .asRange-selected {
    position: absolute;
    left: 30%;
    height: 8px;
    border-radius: 9px
}
.asRange .asRange-pointer {
    margin-left: -4px;
    z-index: 2;
    width: 8px;
    background-color: #fff
}
.asRange .asRange-pointer:before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    background: #c90000;
    border-radius: inherit
}
.asRange .asRange-pointer:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #fff;
    border-radius: inherit
}
.asRange .asRange-pointer.start {
    left: 0;
    margin-left: 4px
}
.asRange .asRange-pointer.stop {
    left: 100%;
    margin-left: -12px
}
.asRange .asRange-pointer .asRange-tip {
    position: absolute;
    top: -33px;
    left: 0;
    width: 50px;
    height: 20px;
    margin-left: -21px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #c90000;
    border: 1px solid #5d5c58;
    border-radius: 3px;
    transition: opacity .3s ease-in-out 0s
}
.asRange .asRange-selected {
    z-index: 1;
    width: 40%;
    background-color: #c90000
}
.asRange .asRange-scale {
    display: none
}
.asRange-scale {
    width: 331px
}
.asRange-scale .asRange-pointer {
    position: absolute;
    left: 30%;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background-color: #fff;
    border-radius: 9px
}
.asRange-scale .asRange-pointer:before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    background: #c90000;
    border-radius: inherit
}
.asRange-scale .asRange-pointer:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #fff;
    border-radius: inherit
}
.asRange-scale .asRange-pointer.start {
    left: 0;
    margin-left: 4px
}
.asRange-scale .asRange-pointer.stop {
    left: 100%;
    margin-left: -12px
}
.asRange-scale .asRange-pointer .asRange-tip {
    position: absolute;
    top: -33px;
    left: 0;
    width: 36px;
    height: 20px;
    margin-left: -15px;
    font-family: Bpreplay;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #5d5c58;
    border: 1px solid #5d5c58;
    border-radius: 3px;
    transition: opacity .3s ease-in-out 0s
}
.asRange-scale .asRange-pointer .asRange-tip:before {
    position: absolute;
    bottom: -3px;
    left: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    content: "";
    background-color: #5d5c58;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.asRange-scale .asRange-selected {
    position: absolute;
    left: 30%;
    z-index: 1;
    width: 40%;
    height: 8px;
    background-color: #7ebdcb;
    border-radius: 9px
}
.asRange-scale .asRange-scale {
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: url(../image/scale.png) no-repeat 0 center
}
.asRange-scale .asRange-scale li {
    position: absolute;
    top: 18px;
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 -15px;
    text-align: center
}
.asRange-scale .asRange-scale li:first-child {
    left: 0
}
.asRange-scale .asRange-scale li:nth-child(2) {
    left: 33.3%
}
.asRange-scale .asRange-scale li:nth-child(3) {
    left: 66.6%
}
.asRange-scale .asRange-scale li:last-child {
    left: 100%
}
h2 {
    color: #111;
    font-size: 36px;
    margin: 50px 0;
    font-weight: 600
}
.back-button, .big-yellow-button {
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800
}
.big-yellow-button {
	background-color: rgb(201, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(161, 0, 0);
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto";

    padding: 28px 48px;
    color: #fff;
    border: 0;
	margin:30px 0;
}
.back-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 18px 48px;
    color: #fff;
    margin-right: 50px !important
}
.header {
    position: fixed;
    background-color: #fff;
    height: 89px;
    width: 100%;
    top: 0;
    z-index: 100;
	opacity: 0.98;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    margin-top: 15px
}
.header__top-company {
    margin-right: 13%;
    font-size: 16px
}
.header__top-company p {
    margin: 0
}
.header__top-phone {
    display: flex;
    align-items: center
}
.header__top-phone-number {
    margin-right: 20px;
    text-align: right;
	font-size: 22px;
}
.header__top-phone-number p {
    margin: 0;
    font-size: 16px
}
.header__top-phone-callback button {
    color: #fff;
    font-size: 14px;
    background-color: #c90000;
    border-radius: 5px;
    padding: 14px 26px;
    border: 0;
}
.footer__phone--callback button {
	background-color: rgba(201, 0, 0, 0);
    border-radius: 5px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: rgb(206, 206, 206);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 13px;
    color: rgb(206, 206, 206);
}
.header__menu {
    text-align: center;
    margin-top: 20px
}
.header__menu ul li {
    margin: 0 25px
}
.header__menu ul li a, .online-selection__form-step span {
    color:rgb(201, 0, 0)
}
.header__menu ul li:nth-child(2) a {
    color: #c90000
}
.firstscreen {
    margin-top: 135px;
    /*background: url(/diski/assets/img/diski-firstscreen.jpg) fixed;*/
    color: #333
}
.firstscreen .wrapper {
    background-color: rgba(52, 52, 52, .8);
    padding-top: 180px;
    padding-bottom: 68px
}
.firstscreen h1 {
    font-weight: 400
}
.firstscreen h1 span, .installment h2 span, .installment__circs-list ul li span, .online-selection__form-info span {
    color: rgb(201, 0, 0)
}
.firstscreen__heading{
	padding-bottom:21px;
	line-height: 1;
}
.firstscreen__subtitle img{
	padding-left:10px;
}
.firstscreen__subtitle {
    font-size: 18px;
	line-height:1.4;
	font-weight:400;
    text-align: center;
	font-family: 'Roboto', sans-serif;
}
.firstscreen__subtitle span{
	color: rgb(201, 0, 0);
	font-weight:700;
}
.firstscreen h1, .firstscreen__button {
    text-align: center;
	font-size:40px;
	line-height:1.2;
	font-size: 32px;
}

.firstscreen__advantages {
    margin-top: 10px;
	padding-bottom: 100px;
}
.firstscreen__advantages-text{
	padding-top:10px;
}
.firstscreen__advantages-text p {
    font-size: 20px;
    line-height:1;
	font-weight:400;
    display: block;
    margin: auto;
	text-align:left;
	font-family: 'Roboto', sans-serif;
}
.firstscreen__advantages-text img {
	padding-right: 10px;
}
.modalName-2 {
	text-align:left;
	font-size:18px;
	line-height:1.4;
	font-weight:400;
	word-wrap:break-word;
	font-family: 'Roboto', sans-serif;
}
.modalInputName {
	text-align:left;
}
.other {
	font-size:16px;
	line-height:1.4;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}
.tabsblock .nav {
    width: 55%;
    margin: auto
}
.tabsblock .nav .nav-item a {
    color: #111;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 10px 13px;
    border-bottom: 4px solid #e9e1e1
}
.tabsblock .nav .active a {
    background-color: #c90000;
    border-bottom: 0
}
.tabsblock .nav .active a:focus {
    background-color: #c90000;
    color: #111
}
.tabsblock .tab-content p {
    font-size: 18px;
    margin: 20px 0
}
.tabsblock__button {
    margin: 50px
}
.installment {
    background: url(/diski/assets/img/diski-rassrochka.jpg) fixed;
    color: #fff
}
.installment .wrapper {
    background-color: rgba(39, 39, 39, .83);
    padding: 40px
}
.installment h2 {
    color: #fff;
    text-align: center;
    width: 80%;
    display: block;
    margin: 50px auto 20px
}
.installment h3 {
    font-weight: 600;
    margin-bottom: 30px
}
.installment h3, .installment__subtitle {
    font-size: 24px;
    text-align: center
}
.installment__circs {
    display: flex
}
.installment__circs-list ul li {
    margin: 13px 0;
    font-size: 16px
}
.installment__circs-video {
    width: 40%
}
.installment__button {
    text-align: center;
    margin: 30px auto
}
/*.review {
    margin-bottom: 70px;
    height: 800px
}*/
.review .carousel .item img {
    margin: auto
}
.review .carousel-control-prev {
    position: absolute;
    bottom: 40%
}
.review .carousel-control-next:focus, .review .carousel-control-next:hover, .review .carousel-control-prev:focus, .review .carousel-control-prev:hover {
    color: transparent
}
.review .carousel-control-next:after, .review .carousel-control-prev:after {
    font-size: 42px;
    color: #444;
    font-family: "FontAwesome"
}
.review .carousel-control-next {
    position: absolute;
    bottom: 40%
}
.review .carousel-control-prev {
    left: 0
}
.review .carousel-control-prev:after {
    content: "\f137"
}
.review .carousel-control-next {
    right: 0
}
.review .carousel-control-next:after {
    content: '\f138'
}
.online-selection {

    color: #333;
}
.online-selection .wrapper {
    background-color: #fff;
}
.online-selection h2 {
    color: #333;
    margin-bottom: 10px
}
.online-selection__subtitle {
    font-size: 22px;
    text-align: center;
    width: 73%;
    margin: auto
}
.online-selection__form input, .online-selection__form select {
    color: #000;
    background-color: #fff;
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    padding-left: 5px
}
.online-selection__form .form-buttons {
    display: inline-flex
}
.online-selection__form button[type=submit] {
    display: block;
    margin: auto
}
.online-selection__form input[type=range] {
    margin: 40px auto
}
.online-selection__form label {
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px
}
.online-selection__form-step {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
    font-weight: 700
}
.online-selection__form .big-yellow-button {
    display: block;
    margin: 20px auto
}
.online-selection__form .step {
    margin: 70px
}
.online-selection__form .range-border {
    margin: 0 10px
}
.online-selection__form-info {
    font-size: 18px;
    width: 100%;
    margin: 20px auto;
	font-family: 'Roboto';
}
.online-selection__form-free {
    margin-top: 20px
}
.online-selection__form #step4 button, .online-selection__form #step4 label {
    width: 55%;
    margin: 12px auto
}
.online-selection__form #step4 input {
    width: 100%
}
.footer {
    background: #3b3b3b;
    color: rgb(215, 215, 215);
    justify-content: space-around;
    height: 74px
}
.footer, .footer__phone {
    display: flex;
    align-items: center
}
.footer__phone--number {
    margin-right: 20px;
	font-size: 16px;
	padding-top:10px;
}
.modalImg {
    position: fixed;
    width: 50%;
    left: 25%;
    height: auto;
    z-index: 2100;
}
.modalImg img{
    width: 100%;
}
/*Модальные окна*/
.modalOverlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(87, 91, 113, 0.4);
    display: none;
}
.modal3 {
    width: 35%!important;
    left: 35%!important;;
    text-align: center;
}
div.modalWindow {
    position: fixed;
    left: 40%;
    top: 15%;
    width: 25%;
    z-index: 2001;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    display: none;
}
.modal3 .step{
    margin: 0;
}
.modal_header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    text-align: right;
}
.modal_header h4, .modal_header p{
    margin: 0;
}
.nofonts {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.callBackModal_content {
    padding: 45px;
}
.modalName {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}
.modalText {
    padding-top: 25px;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.modalInputName {
    padding-top: 25px;
    font-weight: 400;
    font-family: Roboto;
    opacity: .8;
    margin-bottom: 6.5px;
    font-size: 13px;
    word-wrap: break-word;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.modalInput {
    height: auto;
    line-height: 1.2;
    box-shadow: none;
    position: relative;
    background-color: #fff;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0;
    padding: 12px 9.6px;
    font-size: 14px;
    cursor: initial;
    width: 100%;
}
.modalSelect {
    height: auto;
    line-height: 1.2;
    box-shadow: none;
    position: relative;
    background-color: #fff;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0;
    padding: 12px 9.6px;
    font-size: 14px;
    cursor: initial;
    width: 100%;
}
.modalBtnBlock {
    padding: 25px 20px 0;
	display: block;
    text-align: center;
}
.modalBtnBlock button{
	background-color: rgb(201, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(161, 0, 0);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 49px;
    padding-right: 49px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.big-red-button{
    background-color: #c90000;
    border-color: #946f0f;
    color: #fff;
    border-style: solid;
    border-width: 0;
    padding: 23px 45px;
    font-size: 18px;
	line-height:1.42;
    width: 100%;
    display: block;
    outline: 0!important;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    transition-property: box-shadow,transform,color,background-color,border-color!important;
    transition-timing-function: cubic-bezier(.2,1,.3,1);
    font-family: 'Roboto', sans-serif;
	border-radius:5px;
}
.button12 {
	padding-top:10px;
}
.modalWindow .js-prev-step {
    background-color: rgba(218, 148, 11, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 15px;
    font-family: "TTNorms Bold";
}
/*#step8 button {
    margin: auto 0;
}*/
.leftModalBtn {
    position: fixed;
    top: 200px;
    left: 5px;
    z-index: 99999;
    cursor: pointer;
}
.leftModalBtn img{
    width: 74.16px;
}
.leftModalBtn:hover img {
    width: 90px;
}
.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .4);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute
}
.rippleEffect {
    -webkit-animation: rippleDrop 1.6s infinite linear;
    animation: rippleDrop 1.6s infinite linear
}
@-webkit-keyframes rippleDrop {
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}
@keyframes rippleDrop {
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}
button.btn_modal,
button.big-yellow-button{
    outline: 0!important;
    overflow: hidden!important;
    position: relative!important;
}
.container .hamburger1-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}
.container .hamburger1 {
    display: none;
}
.errMsg {
    color: red;
    font-size: 12px;
}
.leftBottomBtn {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.leftBottomBtn img{
    width: 75px;
    height: 75px;
}
.fakeRoistat {
    width: 770px!important;
    color: #000000;
    padding: 0 20px 10px 20px;
    left: 30%!important;
}
.fakeRoistat .close{
    margin-top: -10px;
}
.fakeRoistat_header {
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans";
    padding-top: 10px;
}
.fakeRoistat_text {
    font-size: 18px;
    padding-top: 10px;
    font-family: "Open Sans";
}
.fakeRoistat_inputName {
    font-size: 14px;
    font-family: "Open Sans";
    padding-top: 10px;
}
.fakeRoistat_btn {
    color: #ffffff!important;
    font-size: 19px!important;
    font-family: "Open Sans";
    background: linear-gradient(45deg,#28bd96,#98d58a);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 25px!important;
}
.fakeRoistatBtnBlock {
    padding-top: 30px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .modalImg {
        width: 100%!important;
        left: 0;
    }
    .header__menu .list-inline li {
        display: block;
    }
    .header__menu .list-inline li a {
        display: block;
        padding: 10px 0;
    }
    #modal5 {
        display: none;
    }
    .header {
        height: 70px;
    }
    .firstscreen {
        margin-top: 70px;
    }
    .header__top-logo,
    .header__top-company,
    .header__top-phone {
        display: none;
    }
    .container .hamburger1 {
        display: block;
    }
    .header__menu {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #282828;
        display: none;
        width: 100% !important;
        padding: 20px 10px !important;
        margin: 0 !important;
    }
    .header__menu.mobile {
        display: block;
    }
    .container .hamburger1-altmenu {
        padding-top: 20px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .container .hamburger1-toggle {
        width: 32px;
        height: 19.2px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
        flex: 0 0 32px;
        cursor: pointer;
        margin: 0 5px 5px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        position: relative
    }
    .container .hamburger1-toggle span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out
    }
    .container .hamburger1-toggle span:nth-child(1) {
        top: 0
    }
    .container .hamburger1-toggle span:nth-child(2), .container .hamburger1-toggle span:nth-child(3) {
        top: 10px
    }
    .container .hamburger1-toggle span:nth-child(4) {
        top: 19px
    }
    .container .hamburger1-toggle.is-expanded span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%
    }
    .container .hamburger1-toggle.is-expanded span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .container .hamburger1-toggle.is-expanded span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .container .hamburger1-toggle.is-expanded span:nth-child(4) {
        top: 9.6px;
        width: 0%;
        left: 50%
    }
    .tabsblock__tabs li.nav-item {
        display: block;
        width: 100%;
    }
    .installment__circs {
        display: block;
    }
    .installment__circs-video {
        width: 100%;
    }
    .review {
        height: auto;
    }
    .online-selection__form input, .online-selection__form select {
        width: auto;
    }
    .footer {
        display: block;
        height: auto;
        padding: 30px 0;
    }
    .footer__company {
        text-align: center;
    }
    .footer__company img {
        display: block;
        margin: 0 auto;
    }
    .footer__phone {
        display: block;
        text-align: center;
    }
    .firstscreen .wrapper {
        padding: 50px 0;
    }
    .mapblock__image img {
        width: 100%;
    }
    .tabsblock .nav {
        width: 100%;
    }
    .tab-content img {
        width: 100%;
    }
    div.modalWindow {
        left: 0;
        top: 0;
        width: 0;
        bottom: 0;
        width: 100%;
    }
    .modal3 {
        width: 100%!important;
        left: 0!important;
    }
    .callBackModal_content {
        width: 100%;
    }
    .modalOverlay {
        background: #FFF;
    }
    .form-buttons {
        display: block !important;
    }
    .modalWindow .js-prev-step {
        background: #fff;
        margin: 0 auto !important;
        margin-top: 20px !important;
    }
    .online-selection__form #step4 button, .online-selection__form #step4 label {
        width: 100%;
    }
    .online-selection__form .step {
        margin: 0 !important;
    }
}
@media screen and (min-width: 770px) and (max-width: 1400px) {
    div.modalWindow {
        left: 20%!important;
        width: 65%!important;
    }
}

@media screen and (min-width: 770px) and (max-width: 1400px) {
    div.modal1 {
        left: 35%!important;
        width: 30%!important;
    }
}
.text-center2 {
	font-size:32px;
	line-height:1.4;
	font-weight:400;
	text-align:center;
	margin-bottom:10px;	
}
.text-center2 span {
	color: rgb(201, 0, 0);
}
.text-centerP {
	font-size:20px;
	line-height:1.4;
	font-weight:400;
	text-align:center;
	margin-bottom:60px;
}
.imgIcon {
	height:50px;
	background-position: center center;
}
.textImg {
	font-size:20px;
	line-height:1.4;
	font-weight:400;
}
.textImgCenter {
	text-align:center;
	padding: 45px 15px 10px 25px;
}
.centerClass {
	align-items:center;
	text-align:center;
}
.centerClass button{
	background-color: #c90000;
	border-color: #946f0f;
	color: #fff;
	border-width: 0;
	padding: 23px 45px;
	font-size: 18px;
	width: 100%;
	display: block;
	outline: 0 !important;
	box-shadow: none;
	position: relative;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	transition-property: box-shadow,transform,color,background-color,border-color !important;
	transition-timing-function: cubic-bezier(.2,1,.3,1);
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}
.line {
		width: 22%;
		height: 3px;
		background-color: rgb(201, 0, 0);
		border-radius: 0px;
}
.revimg {
	height: 70px;
	background-position: left center;
	background-size: contain;
}
.revH{
	font-size:20px;
	line-height:1.4;
	font-weight:700;
	margin-bottom:10px;
}
.revP{
	font-size:16px;
	line-height:1.4;
	font-weight:400;
	margin-top:10px;
}
.blockb {
	margin: 30px 0;
	text-align:left;
}