@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@font-face {
    font-family: 'TTNorms Bold';
    src: url('/diski/assets/fonts/tt_norms_bold.woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto" !important;
}
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto" !important;
}
select {
    font-family: "Open Sans";
    font-size: 14px;
}
.asRange, .asRange-scale {
    position: relative;
    height: 8px;
    background-color: #cfcdc7;
    border-radius: 8px
}

.asRange {
    margin: 45px auto;
    display: inline-flex;
    width: 50%
}

.asRange .asRange-pointer, .asRange .asRange-selected {
    position: absolute;
    left: 30%;
    height: 8px;
    border-radius: 9px
}

.asRange .asRange-pointer {
    margin-left: -4px;
    z-index: 2;
    width: 8px;
    background-color: #fff
}

.asRange .asRange-pointer:before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    background: #f2a40c;
    border-radius: inherit
}

.asRange .asRange-pointer:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #fff;
    border-radius: inherit
}

.asRange .asRange-pointer.start {
    left: 0;
    margin-left: 4px
}

.asRange .asRange-pointer.stop {
    left: 100%;
    margin-left: -12px
}

.asRange .asRange-pointer .asRange-tip {
    position: absolute;
    top: -33px;
    left: 0;
    width: 50px;
    height: 20px;
    margin-left: -21px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #f2a40c;
    border: 1px solid #5d5c58;
    border-radius: 3px;
    transition: opacity .3s ease-in-out 0s
}

.asRange .asRange-selected {
    z-index: 1;
    width: 40%;
    background-color: #f2a40c
}

.asRange .asRange-scale {
    display: none
}

.asRange-scale {
    width: 331px
}

.asRange-scale .asRange-pointer {
    position: absolute;
    left: 30%;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background-color: #fff;
    border-radius: 9px
}

.asRange-scale .asRange-pointer:before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    background: #f2a40c;
    border-radius: inherit
}

.asRange-scale .asRange-pointer:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #fff;
    border-radius: inherit
}

.asRange-scale .asRange-pointer.start {
    left: 0;
    margin-left: 4px
}

.asRange-scale .asRange-pointer.stop {
    left: 100%;
    margin-left: -12px
}

.asRange-scale .asRange-pointer .asRange-tip {
    position: absolute;
    top: -33px;
    left: 0;
    width: 36px;
    height: 20px;
    margin-left: -15px;
    font-family: Bpreplay;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #5d5c58;
    border: 1px solid #5d5c58;
    border-radius: 3px;
    transition: opacity .3s ease-in-out 0s
}

.asRange-scale .asRange-pointer .asRange-tip:before {
    position: absolute;
    bottom: -3px;
    left: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    content: "";
    background-color: #5d5c58;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.asRange-scale .asRange-selected {
    position: absolute;
    left: 30%;
    z-index: 1;
    width: 40%;
    height: 8px;
    background-color: #7ebdcb;
    border-radius: 9px
}

.asRange-scale .asRange-scale {
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: url(../image/scale.png) no-repeat 0 center
}

.asRange-scale .asRange-scale li {
    position: absolute;
    top: 18px;
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 -15px;
    text-align: center
}

.asRange-scale .asRange-scale li:first-child {
    left: 0
}

.asRange-scale .asRange-scale li:nth-child(2) {
    left: 33.3%
}

.asRange-scale .asRange-scale li:nth-child(3) {
    left: 66.6%
}

.asRange-scale .asRange-scale li:last-child {
    left: 100%
}

h2 {
    color: #111;
    font-size: 36px;
    margin: 50px 0;
    font-weight: 600
}

.back-button, .big-yellow-button {
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800
}

.big-yellow-button {
    margin-bottom: 10px;
    background-color: #f2a40c;
    padding: 28px 48px;
    color: #000;
    border: 0
}

.back-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 18px 48px;
    color: #fff;
    margin-right: 50px !important
}

.header {
    position: fixed;
    background-color: #282828;
    height: 135px;
    width: 100%;
    top: 0;
    z-index: 100
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 15px
}

.header__top-company {
    margin-right: 20%;
    font-size: 18px
}

.header__top-company p {
    margin: 0
}

.header__top-phone {
    display: flex;
    align-items: center
}

.header__top-phone-number {
    margin-right: 20px;
    text-align: right
}

.header__top-phone-number p {
    margin: 0;
    font-size: 16px
}

.footer__phone--callback button, .header__top-phone-callback button {
    color: #222;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    background-color: #eda10c;
    border-radius: 5px;
    padding: 17px 32px;
    border: 0
}

.header__menu {
    text-align: center;
    margin-top: 20px
}

.header__menu ul li {
    margin: 0 25px
}

.header__menu ul li a, .online-selection__form-step span {
    color: #fff
}

.header__menu ul li:nth-child(2) a {
    color: #f2a40c
}

.firstscreen {
    margin-top: 135px;
    background: url(/diski/assets/img/diski-firstscreen.jpg) fixed;
    color: #fff
}
.firstscreen, .installment, .online-selection {
    background-attachment: fixed!important;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: repeat!important;
}
.firstscreen .wrapper {
    background-color: rgba(52, 52, 52, .8);
    padding-top: 180px;
    padding-bottom: 68px
}

.firstscreen h1 {
    font-size: 48px;
    font-weight: 600
}

.firstscreen h1 span, .installment h2 span, .installment__circs-list ul li span, .online-selection__form-info span {
    color: #f2a40c
}

.firstscreen__subtitle {
    font-size: 24px;
    text-align: center
}

.firstscreen h1, .firstscreen__button {
    text-align: center
}

.firstscreen__advantages {
    margin-top: 40px
}

.firstscreen__advantages-text p {
    font-size: 18px;
    width: 65%;
    display: block;
    margin: auto
}

.tabsblock .nav {
    width: 55%;
    margin: auto
}

.tabsblock .nav .nav-item a {
    color: #111;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 10px 13px;
    border-bottom: 4px solid #e9e1e1
}

.tabsblock .nav .active a {
    background-color: #f2a40c;
    border-bottom: 0
}

.tabsblock .nav .active a:focus {
    background-color: #f2a40c;
    color: #111
}

.tabsblock .tab-content p {
    font-size: 18px;
    margin: 20px 0
}

.tabsblock__button {
    margin: 50px
}

.installment {
    background: url(/diski/assets/img/diski-rassrochka.jpg) fixed;
    color: #fff
}

.installment .wrapper {
    background-color: rgba(39, 39, 39, .83);
    padding: 40px
}

.installment h2 {
    color: #fff;
    text-align: center;
    width: 80%;
    display: block;
    margin: 50px auto 20px
}

.installment h3 {
    font-weight: 600;
    margin-bottom: 30px
}

.installment h3, .installment__subtitle {
    font-size: 24px;
    text-align: center
}

.installment__circs {
    display: flex
}

.installment__circs-list ul li {
    margin: 13px 0;
    font-size: 16px
}

.installment__circs-video {
    width: 40%
}

.installment__button {
    text-align: center;
    margin: 30px auto
}

.review {
    margin-bottom: 70px;
    height: auto;
}

.review .carousel .item img {
    margin: auto
}

.review .carousel-control-prev {
    position: absolute;
    bottom: 40%
}

.review .carousel-control-next:focus, .review .carousel-control-next:hover, .review .carousel-control-prev:focus, .review .carousel-control-prev:hover {
    color: transparent
}

.review .carousel-control-next:after, .review .carousel-control-prev:after {
    font-size: 42px;
    color: #444;
    font-family: "FontAwesome"
}

.review .carousel-control-next {
    position: absolute;
    bottom: 40%
}

.review .carousel-control-prev {
    left: 0
}

.review .carousel-control-prev:after {
    content: "\f137"
}

.review .carousel-control-next {
    right: 0
}

.review .carousel-control-next:after {
    content: '\f138'
}

.online-selection {
    background: url(/diski/assets/img/diski-online-selection.jpg) fixed bottom;
    color: #fff
}

.online-selection .wrapper {
    background-color: rgba(39, 39, 39, .83)
}

.online-selection h2 {
    color: #fff;
    margin-bottom: 10px
}

.online-selection__subtitle {
    font-size: 22px;
    text-align: center;
    width: 73%;
    margin: auto
}

.online-selection__form input, .online-selection__form select {
    color: #000;
    background-color: #fff;
    display: block;
    margin: auto;
    width: 360px;
    height: 40px;
    padding-left: 5px
}

.online-selection__form .form-buttons {
    display: inline-flex
}

.online-selection__form button[type=submit] {
    display: block;
    margin: auto
}

.online-selection__form input[type=range] {
    margin: 40px auto
}

.online-selection__form label {
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px
}

.online-selection__form-step {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #f2a40c;
    font-weight: 700
}

.online-selection__form .big-yellow-button {
    display: block;
    margin: 20px auto
}

.online-selection__form .step {
    margin: 70px
}

.online-selection__form .range-border {
    margin: 0 10px
}

.online-selection__form-info {
    font-size: 16px;
    width: 70%;
    margin: 20px auto
}

.online-selection__form-free {
    margin-top: 20px
}

.online-selection__form #step4 button, .online-selection__form #step4 label {
    width: 50%;
    margin: 12px auto
}

.online-selection__form #step4 input {
    width: 100%
}

.footer {
    background: #282828;
    color: #fff;
    justify-content: space-around;
    height: 80px
}

.footer, .footer__phone {
    display: flex;
    align-items: center
}

.footer__phone--number {
    margin-right: 30px;
    text-align: right;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(215, 215, 215);
}
.footer__phone--number p {
    margin-bottom: 0;
}
/*Модальные окна*/
.popup-overlay {
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .6)
}

.popup-window {
    position: relative;
    max-width: 442px;
    width: 100%;
    margin: 50px auto 0;
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.popup-window__header {
    color: #333;
    height: 40px;
    padding: 8px 20px 0;
    text-align: right;
    border-bottom: 1px solid #e5e5e5
}

.popup-window__header .close {
    float: none;
    text-align: right
}

.popup-window__body {
    padding: 20px
}

.modalOverlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(87, 91, 113, 0.4);
    display: none;
}
.modal3 {
    width: 35%!important;
    left: 35%!important;;
    text-align: center;
}
div.modalWindow {
    position: fixed;
    left: 40%;
    top: 15%;
    width: 25%;
    z-index: 2001;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    display: none;
}
.modal3 .step{
    margin: 0;
}
.modal_header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    text-align: right;
}
.modal_header h4, .modal_header p{
    margin: 0;
}
.nofonts {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.callBackModal_content {
    padding: 45px;
}
.modalName {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}
.modalText {
    padding-top: 25px;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.modalInputName {
    padding-top: 25px;
    font-weight: 400;
    font-family: Open Sans;
    opacity: .8;
    margin-bottom: 6.5px;
    font-size: 13px;
    word-wrap: break-word;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.modalInput {
    height: auto;
    line-height: 1.2;
    box-shadow: none;
    position: relative;
    background-color: #fff;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0;
    padding: 12px 9.6px;
    font-size: 14px;
    cursor: initial;
    width: 100%;
}
.modalSelect {
    height: auto;
    line-height: 1.2;
    box-shadow: none;
    position: relative;
    background-color: #fff;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0;
    padding: 12px 9.6px;
    font-size: 14px;
    cursor: initial;
    width: 100%;
}
.modalBtnBlock {
    padding: 25px 20px 0;
}
.modalBtnBlock button{
    background-color: #d19c15;
    border-color: #946f0f;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-width: 0;
    padding: 25px 36px;
    font-size: 14px;
    width: 100%;
    display: block;
    outline: 0!important;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    transition-property: box-shadow,transform,color,background-color,border-color!important;
    transition-timing-function: cubic-bezier(.2,1,.3,1);
    font-family: "TTNorms Bold";
}
.modalBtnBlockDescription {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}
.modalWindow .js-prev-step {
    background-color: rgba(218, 148, 11, 0);
    border-color: #fff;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 15px;
    font-family: "TTNorms Bold";
}
#step8 button {
    margin: auto 0;
}
.leftModalBtn {
    position: fixed;
    top: 200px;
    left: 5px;
    z-index: 99999;
    cursor: pointer;
}
.leftModalBtn img{
    width: 74.16px;
}
.leftModalBtn:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .4);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute
}

.rippleEffect {
    -webkit-animation: rippleDrop 1.6s infinite linear;
    animation: rippleDrop 1.6s infinite linear
}

@-webkit-keyframes rippleDrop {
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}

@keyframes rippleDrop {
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}
button.btn_modal,
button.big-yellow-button{
    outline: 0!important;
    overflow: hidden!important;
    position: relative!important;
}
button.btn_modal:hover, .modalBtnBlock button:hover, .js-prev-step:hover, .js-next-step:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.js-next-step {
    padding: 28px 80px;
}

.container .hamburger1-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.container .hamburger1 {
    display: none;
}
.errMsg {
    color: red;
    font-size: 12px;
}
.modalImg {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2100;
}
.modalImg img{
    width: 100%;
}
.leftBottomBtn {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.leftBottomBtn img{
    width: 75px;
    height: 75px;
}
.fakeRoistat {
    width: 770px!important;
    color: #000000;
    padding: 0 20px 10px 20px;
    left: 30%!important;
}
.fakeRoistat .close{
    margin-top: -10px;
}
.fakeRoistat_header {
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans";
    padding-top: 10px;
}
.fakeRoistat_text {
    font-size: 18px;
    padding-top: 10px;
    font-family: "Open Sans";
}
.fakeRoistat_inputName {
    font-size: 14px;
    font-family: "Open Sans";
    padding-top: 10px;
}
.fakeRoistat_btn {
    color: #ffffff!important;
    font-size: 19px!important;
    font-family: "Open Sans";
    background: linear-gradient(45deg,#28bd96,#98d58a);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 25px!important;
}
.fakeRoistatBtnBlock {
    padding-top: 30px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__menu .list-inline li {
        display: block;
    }
    .header__menu .list-inline li a {
        display: block;
        padding: 10px 0;
    }
    #modal5 {
        display: none;
    }
    .header {
        height: 70px;
    }
    .firstscreen {
        margin-top: 70px;
    }
    .header__top-logo,
    .header__top-company,
    .header__top-phone {
        display: none;
    }
    .container .hamburger1 {
        display: block;
    }

    .header__menu {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #282828;
        display: none;
        width: 100% !important;
        padding: 20px 10px !important;
        margin: 0 !important;
    }
    .header__menu.mobile {
        display: block;
    }
    .container .hamburger1-altmenu {
        padding-top: 20px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .container .hamburger1-toggle {
        width: 32px;
        height: 19.2px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
        flex: 0 0 32px;
        cursor: pointer;
        margin: 0 5px 5px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        position: relative
    }

    .container .hamburger1-toggle span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out
    }

    .container .hamburger1-toggle span:nth-child(1) {
        top: 0
    }

    .container .hamburger1-toggle span:nth-child(2), .container .hamburger1-toggle span:nth-child(3) {
        top: 10px
    }

    .container .hamburger1-toggle span:nth-child(4) {
        top: 19px
    }

    .container .hamburger1-toggle.is-expanded span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%
    }

    .container .hamburger1-toggle.is-expanded span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .container .hamburger1-toggle.is-expanded span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .container .hamburger1-toggle.is-expanded span:nth-child(4) {
        top: 9.6px;
        width: 0%;
        left: 50%
    }

    .tabsblock__tabs li.nav-item {
        display: block;
        width: 100%;
    }
    .installment__circs {
        display: block;
    }
    .installment__circs-video {
        width: 100%;
    }
    .review {
        height: auto;
    }
    .online-selection__form input, .online-selection__form select {
        width: auto;
    }
    .footer {
        display: block;
        height: auto;
        padding: 30px 0;
    }
    .footer__company {
        text-align: center;
    }
    .footer__company img {
        display: block;
        margin: 0 auto;
    }
    .footer__phone {
        display: block;
        text-align: center;
    }
    .firstscreen .wrapper {
        padding: 50px 0;
    }
    .mapblock__image img {
        width: 100%;
    }
    .tabsblock .nav {
        width: 100%;
    }
    .tab-content img {
        width: 100%;
    }
    div.modalWindow {
        left: 0;
        top: 0;
        width: 0;
        bottom: 0;
        width: 100%;
    }
    .modalWindow.modal2 .modalText{
        padding-top: 10px!important;
    }
    .modalWindow.modal2 .modalInputName{
        padding-top: 10px!important;
    }
    .modal_header {
        padding: 5px 10px!important;
    }
    .modal3 {
        width: 100%!important;
        left: 0!important;
    }
    .callBackModal_content {
        width: 100%;
        padding: 10px 10px 0!important;
    }
    .modalOverlay {
        background: #FFF;
    }
    .form-buttons {
        display: block !important;
    }
    .modalWindow .js-prev-step {
        background: #fff;
        margin: 0 auto !important;
        margin-top: 20px !important;
    }
    .online-selection__form #step4 button, .online-selection__form #step4 label {
        width: 100%;
    }
    .online-selection__form .step {
        margin: 0 !important;
    }
    .fakeRoistat {
        left: 0!important;
        width: 100%!important;
        padding: 10px 20px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1400px) {
    div.modalWindow {
        left: 30%!important;
        width: 45%!important;
    }
}